<header>
  <div class="wrapper">
    <div class="title">Become an Android Developer from Scratch.</div>
    <nav>
      <ul class="menu">
        <li><a href="#" class="active">Overview</a></li>
        <li><a href="#">Syllabus</a></li>
        <li routerLinkActive="active"><a  routerLink="/courses">Course Content</a></li>
        <li routerLinkActive="active"><a routerLink="/discussions">Discussions</a></li>
        <li><a href="#">Library</a></li>
        <li><a href="#">Announcements</a></li>
        <li><a href="#">Students</a></li>
      </ul>
      <div class="feedback">
        <form>
          <input type="text" placeholder="Search">
          <button class="serch__btn">S</button>
        </form>
        <button class="feedback__btn">Feedback</button>
      </div>
    </nav>
  </div>
</header>
