{% extends 'base.html.twig' %}

{% block title %}LowLark MOOC{% endblock %}
{% block body %}
    <h1>Lowlark MOOC Presentational Page</h1>
    <div class="g-recaptcha" data-sitekey="6LcfbVEUAAAAAFbz274_kvygcKdUlwr4byPMFpQB"></div>
{% endblock %}
{% block javascripts %}
    <script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}